{% extends "base.html" %}

{% block main %}
<div class = "contact-container">
    <h1>Contact Form</h1>

    <p class="text">Fill in this form to conatct site owners</p>

    <form method="POST">
        {{ form.hidden_tag() }}

        <div class = "form-group">
            {{ form.name.label(class="form-label")}}<p class = "label">(Required)</p>

            <p>Please enter your full name</p>

            {{ form.name(class="form-control") }}
        </div>

        <div class = "form-group">
            {{ form.email.label(class="form-label")}}<p class = "label">(Required)</p>

            <p>Please enter your e-mail address</p>

            {{ form.email(class="form-control") }}
        </div>

        <div class = "form-group">
            {{ form.subject.label(class="form-label")}}<p class = "label">(Required)</p>

            <p>Please enter the subject for your message</p>

            {{ form.subject(class="form-control") }}
        </div>

        <div class = "form-group">
            {{ form.message.label(class="form-label")}}<p class = "label">(Required)</p>

            <p>Please endter the message you would like to send</p>

            {{ form.message(class="form-control") }}
        </div>

        <button type ="submit" class="btn-primary">{{ form.submit.label }}</button>
    </form>
</div>
{% endblock %}